*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Editor working files, backups
*.swp
*~

# Dependencies
*.d

# Executables
*.exe
*.out
*.app
tester
game

